<div class="wrapper">
    <h1>${title}</h1>
    <div class="selection">
        <form action="/" method="POST"> <!--FORM action is the URL whereyou're sending data-->
          
            <button type="submit" href="/index/template">Submit Data</button>
          
        </form>
    </div>
    
    
    
    <section class="lang">
        <ul>
        ${data.map(lang => `<li>${lang.language}: I am ${lang.status_title} at ${lang.language}!</li>`).join('')}
        </ul>
    </section>
</div>


