<html>
    <head>
        <title>Langauges ${title}</title>
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <head>
            <h1 class="title"></h1>
        </head>
        <main>
            ${partial}
        </main>
        <footer>
        </footer>
    </body>
</html>